<h1>Delete Page</h1>

<h2>Are you sure you want to delete this post?</h2>
<h3>Yes! 
<%= link_to 'Delete', admin_path(@post), method: :delete %> </h3>

<h3>No! <%= link_to 'Go Back', admin_path(@post) %> </h3>

<div>Id: <%= @post.id%></div>
<div>Title: <%= @post.title %></div>
<div>Content: <%= @post.content %></div>
<div>Created On <%= @post.created_at.strftime("%b %d, %Y") %></div>
<div>Updated On <%= @post.created_at.strftime("%b %d, %Y") %></div>

