<h1>Edit Page</h1>

<%= render 'admin/shared/errors', obj: @post %>

<%= form_for @post, :url => "/admin/posts/#{@post.id}", :method => :patch do |form| %>

  <div>
    <%= form.label :title %>
  </div>
  <div>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content %>
  </div>
  <div>
    <%= form.text_area :content, :id => 'editor' %>
  </div>

  <div>
    <%= form.submit :class => 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Go Back', admin_path(@post) %>
 <script>
                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using default configuration.
                CKEDITOR.replace( 'editor' );
            </script>