<h1>New Page</h1>
<hr>
<hr>


<%= render 'admin/shared/errors', obj: @post %>

<%= form_for @post, :url => admin_posts_path do |form| %>

  <div>
    <%= form.label :title %>
  </div>
  <div>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content %>
  </div>
  <div>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

