<h1>Show Page</h1>

<div>Id: <%= @post.id%></div>
<div>Title: <%= @post.title %></div>
<div>Content: <%= @post.content.html_safe %></div>
<div>Created On <%= @post.created_at.strftime("%b %d, %Y") %></div>
<div>Updated On <%= @post.created_at.strftime("%b %d, %Y") %></div>

<%= link_to 'Edit', "/admin/posts/#{@post.id}/edit" %> |
<%= link_to 'Back', admin_posts_path %> |
<%= link_to 'Delete', "/admin/posts/#{@post.id}/delete" %>